.container{
    max-width:144rem;
    margin:0 auto;
    padding:9.6rem 2.5rem;
}
header{
    /* position: fixed; */
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--theme--bg--color);
    border-bottom: .1rem solid #94949450;
    box-shadow: 0rem 0rem .8rem #44444441;
    z-index: 100;
}
header > .container{
    padding:0rem 0rem;
}
header nav{
    width: 100%;
    margin: auto;
    height: 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav .logo{
    color: var(--common--heading--color);
    font-size: 4rem;
    font-weight: 800;
    text-transform: uppercase;
    text-decoration: none;
}
header nav .logo span{
    color: var(--btn--main--color);
}
header nav .nav-links a{
    color: var(--theme--primary--color);
    font-weight: 600;
    letter-spacing: .12rem;
    font-size: 1.8rem;
    margin: 0 2.5rem;
    text-transform: capitalize;
    text-decoration: none;
}
header nav .nav-links a.active{
    color: var(--btn--main--color);
}
header nav .right-nav i{
    color: var(--common--heading--color);
    font-size: 2rem;
    margin-left: 2rem;
}
header nav .right-nav i:hover{
    color: var(--btn--main--color);
}
.hero .container{
    position: relative;
    height: 100%; 
    padding:0rem 2.5rem;
}
.newsletter .container{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer{
    border-top: .1rem solid #94949450;
}
footer .container{
    padding: 5rem 0 2rem;
    display: flex;
    justify-content: space-between;
}
footer .big-rows{
    width: 33%;
    padding-right: 5rem;
}
footer .big-rows .logo{
    font-size: 3rem;
    font-weight: bold;
    color: var(--common--heading--color);
    margin-bottom: 2.5rem;
    text-transform: uppercase;
}
footer .big-rows .logo span{
    color: var(--btn--main--color);
}
footer .big-rows p{
    color: #606060;
    line-height: 1.5;
    margin-bottom: 2rem;
    font-size:1.5rem;
}
footer .big-rows .social-icon i{
    width: 4rem;
    height: 4rem;
    background-color: var(--btn--main--color);
    color: var(--text--white--color);
    text-align: center;
    line-height: 4rem;
    border-radius: 50%;
    margin-right: .8rem;
    border: .1rem solid var(--btn--main--color);
    font-size: 1.8rem;;
}
footer .big-rows .social-icon i:hover{
    background-color: transparent;
    color: var(--btn--main--color);
}
footer .container .row{
    width: 20%;
    font-size: 1.5rem;
}
footer .container .row .tittle{
    color: var(--common--heading--color);
    margin-bottom: 2.5rem;
}
footer .container .row .links{
    display: flex;
    flex-direction: column;
}
footer .container .row .links a{
    color: #606060;
    padding: .8rem 0;
    font-size: 1.5rem;
    text-decoration: none;
}
footer .bottom-footer{    
    border-top: .1rem solid #94949450;
}
footer .bottom-footer .container{
    padding:0rem 0rem;
}
footer .bottom-footer .content{
    padding: 2rem 0;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer .bottom-footer .content p{
    color: var(--common--heading--color);
    font-size: 1.8rem;
}
footer .bottom-footer .content p span{
    color: var(--btn--main--color);
    font-weight: bold;
}