:root {
    --theme--primary--color: #0e0e0e;
    --theme--secondary--color: #dc0d01;
    --theme--bg--color: #ffffff;
    --btn--main--color: #dc0d01;
    --btn--hover--color: #0e0e0e;
    --text--white--color:#ffffff;
    --section-bg--color: #f7f7f7;
    --common--heading--color: #111111;
    --common--sub--heading--color:#3C3C3C;
    --common--para--color: #787878;
    --gradient--light--red: #ffeded;
    --gradient--light--grey: #f4f4f4;
    }